{% load staticfiles %}
{% load app_filters %}
<!DOCTYPE html>
<html>  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel=Stylesheet href="{% static 'Estilos/EstilosEx.css' %}" type="text/css">
<link rel=Stylesheet href="{% static 'Estilos/FondoEx.css' %}" type="text/css">
<link rel=Stylesheet href="{% static 'Estilos/MenuEx.css' %}" type="text/css">
<link rel=Stylesheet href="{% static 'Estilos/VerticalMenuEx.css' %}" type="text/css">
<link rel=Stylesheet href="{% static 'Fonts/Font.css' %}" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    
    
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="{% static 'javascripts/script.js' %}" type="text/javascript"></script>

    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="{% static 'javascripts/scriptV.js' %}" type="text/javascript"></script>

    
<title>Perfil</title>

</head>


<body bgcolor="#D9D9D9" class="divFondo">
    <form  method="POST" name="inicio" id="inicio">
    <div class="divFondo">
    <header class="bodyHeader">
        <div id="cssmenu">
            <ul>
              <li class="active"><a href="/alumno/main"><i class="fas fa-home" style="margin-right: 5px"></i>Inicio</a></li>
              <li><a href="/alumno/main"><i class="fas fa-book" style="margin-right: 5px"></i>Materias</a></li>
              <li><a href="/alumno/perfil"><i class="far fa-user" style="margin-right: 5px"></i>Perfil</a></li>
              <li style="float:right; right: 5px;"><a class="active" href="/alumno/logout"><i class="fas fa-power-off" style="margin-right: 5px"></i>Cerrar Sesión</a></li>
            </ul>   
        </div>      
    </header>
    <img src="{{alumno.avatar}}" width="12%" height="25%" style="position: absolute; top: 20%; left: 10%; border-radius: 10px;">
    <input type="button" name="" value="Cambiar Avatar" style="position: absolute; top: 50%; left: 10%; background-color: #187E89; color: snow; width: 10%; height: 5%">
    <p class="textoizquierda" style="position: absolute; top: 20%; left: 25%;">Nombre Completo: {{alumno.nombre}} {{alumno.apellido1}} {{alumno.apellido2}}</p>
    <p class="textoizquierda" style="position: absolute; top: 25%; left: 25%;">Carné: {{alumno.carnet}}</p>
    <p class="textoizquierda" style="position: absolute; top: 30%; left: 25%;">Sección: {{grupo.grado}} - {{grupo.seccion}}</p>
    <p class="textoizquierda" style="position: absolute; top: 35%; left: 25%;">Profesor Guía: {{grupo.profesorGuia.nombre}} {{grupo.profesorGuia.apellido1}} {{grupo.profesorGuia.apellido2}}</p>
    <p class="textoizquierda" style="position: absolute; top: 40%; left: 25%;">Alias: {{alumno.nickname}}</p>

    <content class="bodyContentNoticias" style="bottom: 0%; width: 25%; ">
          {% for logro in logros %}
          <div class="bodyLogro" style="position: absolute; top: {{ forloop.counter|multiply:130 }}px; left: 10%; background-color: #13A8B1; height: 18%; width: 80%;">
              <img src="{% static 'images/starfull.png' %}" width="17%" height="40%" style="position: absolute; left: 3%; top: 50%; transform: translateY(-50%);">
              <div style="position: absolute; top: 0%; left: 25%; right: 0%; bottom: 0%;">
                  <p class="textoizquierda" style="color: snow; font-size: 100%; position: absolute; margin-top: 4%; left: 10%">{{ logro.logro.nombre }}</p>    
                  <div style="position: absolute; top: 35%; left: 0%; right: 0%;">
                      <p class="textoizquierda" style="color: snow; position: absolute;  margin-top: 2%; left: 10%">{{ logro.logro.descripcion }}</p>
                  </div>
              </div>
          </div>
          {% endfor %}
    </content>
    </div>
    </div>
</form>
</body>
</link></link></link></link>
</html>